[submodule "tusk-desktop"]
	path = tusk-desktop
	url = git@github.com:jezicKarlo/tusk-rest.git
[submodule "tusk-web-mobile"]
	path = tusk-web-mobile
	url = git@github.com:lukadumancic/tusk.git
[submodule "tusk-rest"]
	path = tusk-rest
	url = git@github.com:jezicKarlo/tusk-rest.git
[submodule "tusk-backend-rest"]
	path = tusk-backend-rest
	url = git@github.com:jezicKarlo/tusk-rest.git
